* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
hr {
  margin: 0 auto;
  width: 700px;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
p,
ol,
ul,
blockquote {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
h1 {
  font-size: 38px;
  margin: 50px auto;
}
h1 + p,
h1 + p a {
  color: #666;
  transition: color 0.6s ease;
}
h1 + p a :hover {
  color: blue;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin: 40px auto;
}
h3 {
  font-size: 28px;
  line-height: 32px;
  margin: 30px auto;
}
h4 {
  font-size: 24px;
  line-height: 28px;
  margin: 20px auto;
}
h5 {
  font-style: italic;
  font-size: 21px;
  line-height: 28px;
  margin: 20px auto;
}
hr {
  width: 1024px;
}
img {
  width: 1024px;
  margin: 30px auto;
  display: block;
}
ol {
  padding-left: 30px;
  list-style-type: decimal;
}
ul {
  padding-left: 30px;
  list-style-type: disc;
}
li {
  margin: 8px 0;
}
blockquote {
  font-style: italic;
  position: relative;
}
blockquote::before {
  position: absolute;
  content: " ";
  width: 3px;
  height: 100%;
  background-color: black;
  top: 0;
  left: -17px;
}
.sidebar {
  width: 280px;
  margin-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: opacity 0.6s ease;
}
.sidebar:hover {
  opacity: 1;
}
.sidebar ul {
  width: 100%;
  margin: 0;
}
.sidebar li {
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  line-height: 1.4;
}
.sidebar a {
  color: black;
  text-decoration: none;
}
.sidebar a :hover {
  text-decoration: underline;
}
/*стили для верхнего меню*/
.menubar {
  width: 80%;
  margin: 10px auto;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  gap: 22px;
}
.menubar a {
  color: black;
  text-decoration: none;
  transition: color 0.6s ease;
}
.menubar a :hover {
  color: #666;
  text-decoration: underline;
}
